<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= cl_image_tag(@product.image.key, cloud_name: "dpwztry10", :width=>300, :crop=>"scale") %>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %>
<%= link_to 'Back', products_path %>
