<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= cl_image_tag(@product.image.key, cloud_name: "dpwztry10", :width=>300, :crop=>"scale") %>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@product.price) %>
</p>
<p><button id="buynow-button">Buy Now!</button></p>
<%= link_to 'Edit', edit_product_path(@product) %>
<%= link_to 'Back', products_path %>

<script src="https://js.stripe.com/v3/"></script>

<script>
  const stripe = Stripe('<%= ENV["STRIPE_PUBLISHABLE_KEY"] %>')
  const buyButton = document.getElementById('buynow-button')

  buyButton.addEventListener('click', function() {
      fetch('<%= buy_path(@product.id) %>', { 
          method: 'POST'
      })
      .then(function(response) {
          return response.json()
      })
      .then(function(session) {
          return stripe.redirectToCheckout({ sessionId: session.id })
      })
  })
</script>