<!DOCTYPE html>
<html>
  <head>
    <title>OatsRiceVeg</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <nav>
  <%= link_to "Our Story", "/about" %>
  <%= link_to "Get in touch", "/contact" %>

  </nav>
  <body>
    <main class='<%=controller.controller_name %>'>
    <%= yield %>
    </main>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if user_signed_in? %>
      <h4> 
      Welcome, <%= current_user.email %>!
      || <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
      </h4>
      <% else %>
      <h4>
      Welcome!
      <%= link_to 'Login', user_session_path, method: :post %>
      <%= link_to 'Register', new_user_registration_path, method: :get %>
      </h4>
    <% end %>
    <% yield %>
  </body>
</html>
